@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.card-animation {
  animation: fadeInUp 1s ease-out forwards;
}
